body {
  background-color: hsl(30, 38%, 92%);
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.main-container {
  margin: 0 auto;
  width: 550px;
  margin-top: 150px;
}
.wrapper {
  display: flex;
  height: 450px;
  width: 600px;
  border-radius: 15px;
  justify-content: center;
  background: hsl(0, 0%, 100%);
}
.destkop-img {
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.mobile-img {
  display: none;
}
.text-wrapper {
  padding: 10px 30px 0 20px;
}
.perfume {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.text-wrapper h1 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
}
.text-wrapper p {
  font-size: 13px;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
}
.text-wrapper h3 {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 700;
  display: inline;
}
.old-price {
  display: inline;
  padding: 0 20px;
  padding-top: 40px;
  text-decoration: line-through;
}
#cart-icon {
  width: 15px;
  padding: 4px 8px 0 20px;
  display: inline-block;
}
.text-wrapper button {
  margin-top: 30px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 10px;
  width: 250px;
}
@media screen and (max-width: 375px) {
  .wrapper {
    display: block;
    margin: 0 auto;
    width: 360px;
    height: 100%;
  }
  .destkop-img {
    display: none;
  }
  .mobile-img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: block;
    width: 100%;
  }
  .text-wrapper button {
    margin-bottom: 20px;
    width: 300px;
  }
}
